*{





}

.wallpaper{
    /*background-color: rgb(255,30,60,0.7);*/
    margin: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
}

body{
    margin: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
}



.wrapper-main{
    height: available;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.upper{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lower{
    flex-shrink: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.temperature{
    display: flex;/*!!!!!!!!!!!!!!!!!!!!!*/
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    width: 600px;
    height: 280px;
    border-radius: 50px;
    /*background-color: #05c4f3;*/

}

.find{
    margin-top: 30px;
    margin-left: 250px;
    width: 600px;
    height: 140px;
    border-radius: 50px;
    background-color: #1eaa59;


}

.humidity{
    margin-top: 20px;
    margin-left: 95px;
    height: 400px;
    width: 400px;
    border-radius: 50px;
    background-color: #05c4f3;
}

.pressure{
    margin-top: 20px;
    margin-left: 170px;
    height: 400px;
    width: 400px;
    border-radius: 50px;
    background-color: #05c4f3;
}

.wind{
    margin-top: 20px;
    margin-left: 170px;
    height: 400px;
    width: 400px;
    border-radius: 50px;
    background-color: #05c4f3;
}

@media (max-device-width:420px) {
    .wrapper-main{
        height: available;
        position: relative;
        width: 370px;
        display: flex;
        flex-direction: column;
    }

    .upper{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .lower{
        flex-shrink: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /*.temperature{
        display: flex;
        position: absolute;
        margin-top: 30px;
        margin-left: -10px;
        width: 200px;
        height: 95px;
        border-radius: 50px;


    }*/

    .find{
        margin-top: 30px;
        margin-left: 0px;
        width: 600px;
        height: 140px;
        border-radius: 50px;
        background-color: #1eaa59;


    }

    .humidity{
        /*margin-top: -35px;
        margin-left: 10px;
        height: 160px;
        width: 160px;*/
        border-radius: 50px;
        background-color: #05c4f3;
        margin-top: 40px;
        margin-left: 10px;
        height: 400px;
        width: 400px;

    }

    .pressure{
        /*margin-top: -160px;
        margin-left: 180px;
        height: 160px;
        width: 180px;*/
        border-radius: 25px;
        background-color: #05c4f3;
        margin-top: -400px;
        margin-left: 560px;
        height: 400px;
        width: 400px;
    }

    .wind{
        margin-top: 220px;
        margin-left: 280px;
        height: 400px;
        width: 400px;
        border-radius: 50px;
        background-color: #05c4f3;
    }
}